<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#myPage">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="enterprise" routerLinkActive="active">Compa&#241;ias</a></li>
        <li><a href="#services">Departamentos</a></li>
        <li><a routerLink="employees" routerLinkActive="active">Empleados</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Copyright &copy; 2023 Technoloqie Asesoramiento Inform&#225;tico. All rights reserved</p>
</footer>