<div class="card bg-light mb-3" style="max-width: 100%;">
  <div class="card-header">Departamentos</div>
<div class="card-body">
    <h5 class="card-title">Listado de departamentos</h5>
    <div *ngIf="lstDpt?.length == 0" class="alert alert-info">
        No existen registros.
    </div>
<table class="table table-striped" *ngIf="lstDpt?.length > 0">
	<thead>
		<tr>
			<th scope="col">Nombre</th>
			<th scope="col">Descripcion</th>
			<th scope="col">Tel&eacute;fono</th>
			<th scope="col">Compania</th>
			<th scope="col">Estado</th>
			<th scope="col">Editar</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let dept of lstDpt">
			<td>{{dept.name}}</td>
			<td>{{dept.description}}</td>
			<td>{{dept.phone}}</td>
			<td>{{dept.enterprise.id}}</td>
			<td><span class="button is-small btn-primary" *ngIf="!dept.status == false">Activo</span></td>
			<td> <button type="button" name="editar" [routerLink]="['/departments/form', dept.id]" class="btn btn-primary">editar</button></td>
		</tr>
	</tbody>
</table>

<div class="my-2 text-left">
        <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/departments/form']"> Crear Departamento</button>
</div>
</div>
</div>