<ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <li *ngFor="let err of errores">
    {{err}}
  </li>
</ul> 

<div class="card bg-dark text-white">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">

    <form #deptForm="ngForm">
      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="department.name" name="nombre"  #nombre="ngModel" required minlength="4"> <!--required minlength="4" -->

        </div>
      </div>
      <div class="form-group row">
        <label for="description" class="col-form-label col-sm-2">Descripcion</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="department.description" name="description"  #description="ngModel" > <!--required minlength="4" -->

        </div>
      </div>

      <div class="form-group row">
        <label for="phone" class="col-form-label col-sm-2">Telefono</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="department.phone" name="phone"  #phone="ngModel" > <!--required minlength="4" -->

        </div>
      </div>

      <div class="form-group row">
        <label for="company" class="col-form-label col-sm-2">Compa&#241;ia</label>
        <div class="col-sm-6">
          <!--input type="text" class="form-control" [(ngModel)]="department.enterprise.id" name="company"  #company="ngModel" --> <!--required minlength="4" -->

          <select class="form-control" id="company" [(ngModel)]="department.enterprise.id" name="company"  #company="ngModel">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>

        </div>
      </div>

  

      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)='createDepartment()' *ngIf="!department.id else elseBlock" [disabled]="!deptForm.form.valid" >Crear</button>

          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)='updateDepartment()' [disabled]="!deptForm.form.valid">Editar</button>
          </ng-template>
        </div>
      </div>
    </form>

  </div>
</div>
